
@{
    ViewBag.Title = "Registration";
}
<h2>@ViewBag.Title.</h2>


@using(Html.BeginForm())
{
    @Html.Label("First Name")<br />
    @Html.TextBox("FirstName" ,null, new
{
    @class = "span3",
    type = "name",
    required = "required"
})<br/>
    
    @Html.Label("Last Name")<br />
    @Html.TextBox("LastName")<br />

    @Html.Label("Email")<br />
    @Html.TextBox("Email")<br />
    
    @Html.Label("Address Line1")<br />
    @Html.TextBox("AddressLine1")<br />
    
    @Html.Label("Address Line2")<br />
    @Html.TextBox("AddressLine2")<br />
    
    @Html.Label("Phone")<br />
    @Html.TextBox("Phone")<br />
    <br />
    @Html.Label("Nationality")<br />
    <select name="Nationality">
        <option value ="India">India</option>
        <option value="United Kigdom">United Kigdom</option>
        <option value="Poland">Poland</option>
    </select><br />
    
    <br />
    @Html.Label("Gender")<br />
    <select name="Gender">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
    </select><br />
    <br />
    @Html.Label("Please select Which Batch you wanted to attend")<br />
    @Html.RadioButton("batch", "WeekEnd batch")@Html.Label("WeekEnd batch")<br />
    @Html.RadioButton("batch", "WeekDay batch")@Html.Label("WeekDay batch")<br />
    @Html.RadioButton("batch", "Flexible")@Html.Label("Flexible")<br />
    <br />
    @Html.Label("Where did you hear about us")<br />
    @Html.CheckBox("Magazine") @Html.Label("Magazine")   <br />
    @Html.CheckBox("FaceBook")  @Html.Label("FaceBook")  <br />
    @Html.CheckBox("Other")   @Html.Label("Other")  <br />
    <br />
    
    @Html.Label("Enter Comment")<br />
    @Html.TextArea("Comment")    <br />

    @Html.Label("Date")<br />
      <br />

    <br/>

    <button type="submit">Submit</button>

}
